@font-face {
	font-family: 'fontello';
	src: url('http://demawork.online/fontello/font/fontello.eot');
	src: url('http://demawork.online/fontello/font/fontello.eot#iefix') format('embedded-opentype'),
			 url('http://demawork.online/fontello/font/fontello.woff2') format('woff2'),
			 url('http://demawork.online/fontello/font/fontello.woff') format('woff'),
			 url('http://demawork.online/fontello/font/fontello.ttf') format('truetype'),
			 url('http://demawork.online/fontello/font/fontello.svg#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}