
.icon-metka:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-mail-1:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e809'; } /* '' */
.icon-down-open-big:before { content: '\e80b'; } /* '' */
.icon-file:before { content: '\e80e'; } /* '' */
.icon-mark:before { content: '\e810'; } /* '' */
.icon-marker:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-location-outline:before { content: '\e813'; } /* '' */
.icon-instagram:before { content: '\e815'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */