.catalog-page-sections {
    margin-top: 50px;
}
.brand-main.catalog-page-sections .ib-2 {
    height: 260px;
    margin-bottom: 10px;
}

@media (max-width: 1023px) {
    .catalog-page-sections {
        margin-top: 0;
    }
    .brand-main.catalog-page-sections .ib-2 {
        height: 160px;
    }
}

@media (min-width: 1024px) {
    .brand-main.catalog-page-sections .h5 {
        margin-top: 0;
        padding-left: 25px;
    }
}